.about-me-content {
    padding: 2% 3%;
}

.about-me-content > p {
    line-height: 3vh;
}

.download-resume {
    padding: 5%;
}

.love-anchor {
    color: #C15142;
}

.black-anchor {
    color: black;
}